{% extends "layout-ajax.html" %}
{% load pipeline %}
{% load staticfiles %}

{% block title %}landexpropriation{% endblock %}

{% block head-css %}
{% stylesheet "css-landexpropriation" %}
{% endblock %}

{% block js %}
<script>
  var recaptchaKey = '{{ recaptcha_key }}';
</script>

{{ block.super }}
{% javascript "js-landexpropriation" %}
{% endblock %}

{% block content %}

<!-- Build Message -->
<section id="build-message">
  <h2 id="title"><b>Give your opinion on section 25 </b></h2>
  <form id="representation" autocomplete="off">
    <h4>
      <b>
        Use this tool to compose a formal open letter to the commission
      </b>
    </h4>
    <p id="intro">Introduction to topic...</p>
    <div class="choose-mp gray-box">
      <div class="number">1</div>
      <div class="task">
        <div class="instruction">Do you support </div>
        <div class="multiple-choice">
          <div data-value="yes" class="option">
            <b>Yes</b>
          </div>
          <div data-value="no" class="option">
            <b>No</b>
          </div>
          <div data-value="unsure" class="option">
            <b>Unsure</b>
          </div>
        </div>
      </div>
    </div>


    <div class="gray-box">
      <div class="number">2</div>
      <div class="task">
        <div class="instruction">Hello</div>
        <div class="question" id="how-else-voice-heard">
          <h4>How else have you made your voice heard in Parliament? <small>(optional)</small></h4>
          <textarea name="ways-voice-heard" placeholder="Leave blank if you've never contacted an MP"></textarea>
        </div>
        <div class="question" id="voice-heard-outcome">
          <h4>Was your voice heard, even if the outcome wasn’t what you hoped for? <small>(optional)</small></h4>
          <div class="multiple-choice">
            <div data-value="yes" class="option">
              <b>Yes</b>
            </div>
            <div data-value="no" class="option">
              <b>No</b>
            </div>
            <div data-value="unsure" class="option">
              <b>Unsure</b>
            </div>
          </div>
        </div>
        <div class="question" id="how-should-voice-heard">
          <h4>How do you think you, and all other South Africans, should be able to make their voice heard in Parliament?</h4>
          <textarea name="how-should-voice-heard" placeholder="I would like to be able to raise my concerns by..."></textarea>
        </div>
        <div class="question" id="concerns">
          <h4>What are your biggest concerns about South Africa?</h4>
          <textarea name="concerns" placeholder="My biggest concerns for South Africa are..."></textarea>
        </div>

      </div>
    </div>

    <div class="gray-box">
      <div class="number">3</div>
      <div class="task">
        <div class="instruction">Sign your letter</div>
        <input class="name-input" type="text" name="input-name" placeholder="Name">
        <input class="email-input" type="email" name="input-email" placeholder="E-mail address (we will not publish this)">
        <select class="choose-province" name="province" required>
          <option value="" disabled selected>Where do you live?</option>
          <option value="Eastern Cape">Eastern Cape</option>
          <option value="Free State">Free State</option>
          <option value="Gauteng">Gauteng</option>
          <option value="KwaZulu-Natal">KwaZulu-Natal</option>
          <option value="Limpopo">Limpopo</option>
          <option value="Mpumalanga">Mpumalanga</option>
          <option value="North West">North West</option>
          <option value="Northern Cape">Northern Cape</option>
          <option value="Western Cape">Western Cape</option>
        </select>
      </div>
    </div>

    <div class="error" id="preview-error"></div>

    <input class="btn-continue" type="submit" id="previewEmail" value="Preview your email">
  </form>
</section>


<!-- Preview Message -->
<section id="preview-message">
  <h2>Preview your open letter</h2>
  <div class="gray-box">
    <table class="sender-info">
      <tr>
        <td class="left">From</td>
        <td>
          <span id="name"></span><br>
        </td>
      </tr>
      <tr>
        <td class="left">Subject</td>
        <td id="email-title"></td>
      </tr>
    </table>
    <div id="letter-preview"></div>
  </div>
  <div id="recaptcha"></div>
  Your name will be published along with your letter. Your email address will not be published but will be emailed to the MP to allow them to reply.
  <div class="error" id="submit-error"></div>
  <input onclick="triggerSubmit();" class="btn-continue" type="submit" id="sendEmail" value="Publish your letter">
  <div id="editMessage">Change your letter</div>
</section>

<!-- Email Sent -->
<section id="message-sent">
  <h2><b>Thank you. Your open letter has been sent and published.</b></h2>

  <h3>Help others get their voices heard</h3>

  <div class="row">
    <div class="col-xs-6 text-center">
      <input class="fb-share" type="button" value="Facebook" data-url="http://www.news24.com/SouthAfrica/Politics/how-do-you-make-your-voice-heard-in-parliament-write-an-open-letter-to-an-mp-20170804">
    </div>

    <div class="col-xs-6 text-center">
      <input class="twitter-share" type="button" value="Tweet" data-hashtag="LettersToParliament" data-url="http://www.news24.com/SouthAfrica/Politics/how-do-you-make-your-voice-heard-in-parliament-write-an-open-letter-to-an-mp-20170804">
    </div>
  </div>

  <div id="email-detail-link"></div>

  <div class="follow-up-question-box gray-box">
    <div class="follow-up-question">
      <p></p>
    </div>
    <div class="follow-up-answer-box">
      <span id="follow-up-answer-1" class="toggle-select-follow-up"></span>
      <span id="follow-up-answer-2" class="toggle-select-follow-up"></span>
    </div>
  </div>

  <br><a id="view-letter-link" href="">View your open letter</a>

  {% if is_mobile %}
  <!--
  <a href="whatsapp://send?text={% block whatsapp_msg %}{{ SITE_DESCRIPTION|urlencode }}%20{{ BASE_URL|urlencode }}{{ request.path|urlencode }}wa/{% endblock whatsapp_msg %}" data-action="share/whatsapp/share"><img src="{% static 'images/whatsapp-logo.png' %}" alt="WhatsApp" height="32"></a>
  -->
  {% endif %}


</section>

<!-- space below for pym awkwardness -->
<div style="height: 40px"></div>
{% endblock content %}
