{% extends "layout-ajax.html" %}
{% load pipeline %}
{% load staticfiles %}

{% block title %}Motion on land expropriation without compensation{% endblock %}
{% block body-class %}container{% endblock %}

{% block head-css %}
{% stylesheet "css-landexpropriation" %}
{% endblock %}

{% block js %}
<script>
  var recipient = {{ recipient_json|safe }};
  var recaptchaKey = '{{ recaptcha_key }}';
</script>

{{ block.super }}
{% javascript "js-landexpropriation" %}
{% endblock %}

{% block content %}

<!-- Baleka Build Message -->
<section id="landexpropriation-build-message">
  <div class="campaign-title-wrap"><h2 class="campaign-title">Have your say on land expropriation without compensation</h2></div>
  <div class="shadow top-box-wrap">
    <div class="days-remaining-box">
      <div>There are only</div>
      <div class="days-remaining-number"></div>
      <div>left to give feedback</div>
    </div>
    <div class="why-box gray-box row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h4><b>What is this about?</b></h4>
        <p class="why-important">In February, the National Assembly <a target="_blank" href="https://landissue.org.za/static/motion.html">adopted a motion</a> proposed by the EFF, with amendments by the ANC, that Parliament's Constitutional Review Committee investigate mechanisms through which land can be expropriated without compensation.</p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h4><b>Why email the committee?</b></h4>
        <p>The Joint Constitutional Review Committee has called for written public comments on the review of <a target="_blank" href="https://myconstitution.co.za/en/02.html#property">section 25 of the Constitution</a> to make it possible for the state to expropriate land in the public interest without compensation.</p>
      </div>
      <div class="learning-resources">
        <a target="_blank" class="btn-resource motion" href="https://landissue.org.za/static/motion.html"><strong>Read the motion</strong></a>
        <a target="_blank" class="btn-resource" href="https://www.youtube.com/watch?v=mM8K0SIY_1I">Watch the debate</a>
        <a target="_blank" class="btn-resource" href="https://pmg.org.za/committee/52/">About the committee</a>
      </div>
    </div>
  </div>

  <form id="email-landexpropriation" autocomplete="off">
  <div class="campaign-title-wrap"><h2 class="campaign-title">Send an email to the committee</h2></div>

    <div class="questions-wrap">
      <div class="question-1 gray-box">
        <div class="number">1</div>
        <div class="question">Do you support the motion on land expropriation without compensation?</div>
        <div class="toggle-button-question support unanswered">
          <div id="yes" class="toggle-select">
            Yes
          </div>
          <div id="no" class="toggle-select">
            No
          </div>
        </div>
      </div>

      <div class="question-2 gray-box">
        <div class="number">2</div>
        <div class="question">If it becomes law, how would it affect you?</div>
        <textarea placeholder="Maximum 1500 characters (about 300 words)" maxlength="1500" id="comment-personal" name="question2"></textarea>
      </div>

      <div class="question-3 gray-box">
        <div class="number">3</div>
        <div class="question">Is <a target="_blank" href="https://myconstitution.co.za/en/02.html#property">section 25</a> a barrier to transforming apartheid land inequality?</div>
        <div class="toggle-button-question barrier unanswered">
          <div id="yes" class="toggle-select true">
            Yes
          </div>
          <div id="no" class="toggle-select false">
            No
          </div>
        </div>
      </div>

      <div class="question-4 gray-box barrier-text">
        <div class="number">4</div>
        <div class="question">Please answer question 3</div>
        <textarea placeholder="Maximum 1500 characters (about 300 words)" disabled maxlength="1500" id="changes-solutions" name="question4"></textarea>
      </div>

      <div class="question-5 gray-box">
        <div class="number">5</div>
        <div class="question">Are you willing to appear before the committee to give an oral presentation?</div>
        <div class="toggle-button-question appear unanswered">
          <div id="yes" class="toggle-select">
            Yes
          </div>
          <div id="no" class="toggle-select">
            No
          </div>
        </div>
      </div>

      <div class="question-5 gray-box">
        <div class="number">5</div>
        <div class="question">
          <input class="name-input" type="text" name="name" placeholder="Your name" value="">
          <input class="email-input" type="email" name="email" required="required" placeholder="Your email address" value="">
        </div>
      </div>
    </div>

    <input class="btn-continue" type="submit" id="previewEmail" value="Preview your email">

  </form>
</section>

<!-- Baleka Preview Message -->
<section id="landexpropriation-preview-message">
  <div class="campaign-title-wrap"><h2 class="campaign-title">Preview your email to the Constitutional Review Committee</h2></div>
  <div class="gray-box shadow border-radius">
    <table class="sender-info">
      <tr>
        <td class="left">From</td>
        <td>
          <span id="name"></span><br>
          <span id="email"></span>
        </td>
      </tr>
      <tr>
        <td class="left">Subject</td>
        <td id="email-title"></td>
      </tr>
    </table>
    <div id="comment-preview"></div>
  </div>
  <div id="recaptcha"></div>
  <input onclick="triggerSubmit();" class="btn-continue disabled" disabled="disabled" type="submit" id="sendEmail" value="Send your email">
  <div id="editEmail" class="change-email-position">Change your email</div>
</section>

<!-- Baleka Email Sent -->
<section id="landexpropriation-sent">
  <div class="campaign-title-wrap"><h2 class="campaign-title">Thank you, your email has been sent</h2></div>
  <div class="follow-up-question-box gray-box shadow border-radius">
    <div class="follow-up-question">
      <p></p>
    </div>
    <div class="follow-up-answer-box">
    </div>
  </div>
  <div class="campaign-title-wrap"><h3 class="campaign-title">Help others get their voices heard, share this on social media</h3></div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <input class="fb-share" type="button" value="Facebook" data-url="https://landissue.org.za">
    </div>

    <div class="col-sm-6 text-center">
      <input class="twitter-share" type="button" value="Tweet" data-hashtag="LandExpropriation" data-url="https://landissue.org.za">
    </div>
  </div>

  {% if is_mobile %}
  <!--
  <a href="whatsapp://send?text={% block whatsapp_msg %}{{ SITE_DESCRIPTION|urlencode }}%20{{ BASE_URL|urlencode }}{{ request.path|urlencode }}wa/{% endblock whatsapp_msg %}" data-action="share/whatsapp/share"><img src="{% static 'images/whatsapp-logo.png' %}" alt="WhatsApp" height="32"></a>
  -->
  {% endif %}

</section>

<section class="attribution">
  <a target="_blank" href="https://openup.org.za"><img src="/static/images/openup-logo-light.svg"></a>
  <a target="_blank" href="https://pmg.org.za"><img src="/static/images/pmg-logo.png"></a>
</section>
{% endblock content %}
