{% extends "layout.html" %}
{% load pipeline %}
{% load staticfiles %}

{% block title %}Send a message to a Member of Parliament{% endblock %}
{% block body-class %}create-email-page{% endblock %}

{% block js %}
  <script>
    var persons = {{ persons_json|safe }};
    var recaptchaKey = '{{ recaptcha_key }}';
  </script>

  {{ block.super }}
  {% javascript "js" %}
  <script src='https://www.google.com/recaptcha/api.js?onload=recaptchaLoaded&render=explicit' async defer></script>
{% endblock %}

{% block content %}
<div class="create-email-page">
  <header>
    <section class="hero">
      <h1>#NoConfidenceVote</h1>
      <h2>Your Parliament.<br>Your Voice.</h2>
    </section>

    <h3>Have your say in the vote of no confidence in the President.</h3>
  </header>

  <form id="email-form" action="/email/" method="post">
    {% csrf_token %}

    {{ form.person.as_hidden }}
    {{ form.body.as_hidden }}
    {{ form.subject.as_hidden }}

    <section class="choose">
      <h3>Email a Member of Parliament:</h3>

      <div class="row">
      {% for person in neglected_persons %}
        <div class="col-xs-6 mp-wrap">
          <div class="single-mp row" data-id="{{ person.id }}">
            <div class="col-xs-4">
              <div class="mp-img-wrapper center-block" {% if person.portrait_url %}style="background-image:url({{ person.portrait_url }})"{% endif %}>
                {% if person.party %}
                <img class="party-logo" src="{{ person.party.icon_url }}">
                {% endif %}
              </div>
            </div>
            <div class="col-xs-8">
              <div class="mp-name">{{ person.name }}</div>
              <div class="email-count">
                <small>{% if person.num_emails == 0 %}No emails sent yet{% else %}emailed {{ person.num_emails }} times{% endif %}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <div class="dropdown-wrap">
      <select id="select-dropdown" class="use-select2"></select>
    </div>


    <section class="send-block">
      <div class="top">
        <div class="selected-mp-wrap">
          <div class="selected-mp">
            <div class="mp-img-wrapper center-block">
              <img class="party-logo">
            </div>
          </div>
        </div>
        <div class="mp-name">
          <div>Honourable Member <span class="recipient"></span></div>
          <a class="pa-link" target="_blank" href="#"><img src="/static/images/pa-favicon.png"> Profile on pa.org.za</a>
        </div>
      </div>

      <div class="question-block">

        <div class="concerned">
          <h3>How concerned are you about corruption in South Africa?</h3>
          <label><input type="radio" name="concern" value="extremely" required><span>Extremely</span></label>
          <label><input type="radio" name="concern" value="very"><span>Very</span></label>
          <label><input type="radio" name="concern" value="moderately"><span>Moderately</span></label>
          <label><input type="radio" name="concern" value="slightly"><span>Slightly</span></label>
          <label><input type="radio" name="concern" value="not at all"><span>Not at all</span></label>
        </div>

        <div class="support">
          <h3>Do you support a vote of no confidence in the President?</h3>
          <label><input type="radio" name="vote" value="to support" required><span>I support the motion of no confidence</span></label>
          <label><input type="radio" name="vote" value="not to support"><span>I do not support the motion of no confidence</span></label>
          <label><input type="radio" name="vote" value="to abstain from"><span>I abstain from the motion of no confidence</span></label>
        </div>

        <div class="issues">
          <h3>What are the three most important issues that you would like your Member of Parliament to support?</h3>
          <input name="issue1" class="issue-answer" type="text" maxlength="150"></input>
          <input name="issue2" class="issue-answer" type="text" maxlength="150"></input>
          <input name="issue3" class="issue-answer" type="text" maxlength="150"></input>
        </div>

        <div class="person">
          <h3>Tell your Member of Parliament who you are.</h3>

          <input class="name" type="text" name="name" placeholder="Your name?" required>
          <input class="email" type="email" name="email"  placeholder="Your email address" required>

          <select class="choose-province" name="province" required>
            <option value="" disabled selected>Where do you live?</option>
            <option value="the Eastern Cape">Eastern Cape</option>
            <option value="the Free State">Free State</option>
            <option value="Gauteng">Gauteng</option>
            <option value="KwaZulu-Natal">KwaZulu-Natal</option>
            <option value="Limpopo">Limpopo</option>
            <option value="Mpumalanga">Mpumalanga</option>
            <option value="the North West">North West</option>
            <option value="the Northern Cape">Northern Cape</option>
            <option value="the Western Cape">Western Cape</option>
          </select>
        </div>

      </div>

      <div class="bottom">
        <div class="email-wrapper">
          <div class="email-textarea">
            <p><b>Re: Motion of No Confidence in the President of the Republic</b></p>
            <p>Dear <span class="recipient"></span>,</p>
          </div>

          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <input type="hidden" name="body" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div id="recaptcha"></div>
              <input type="submit" value="Send email">
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
  {% endblock content %}

  {% block attribution %}
    <ul>
      <li><a target="_blank" href="https://commons.wikimedia.org/wiki/File:Parliament_in_company_gardens.jpg">"Parliament in company gardens" by Jonathan Beech</a> is licensed under <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
      <li><a target="_blank" href="http://www.pa.org.za/help/api">Member of Parliament data compiled by People's Assembly</a> is licensed under <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
    </ul>
    <div class="row">
      <div class="col-xs-4">
        <a href="http://www.pa.org.za/"><img class="img-responsive" src="/static/images/pa-logo.png"/></a>
      </div>
      <div class="col-xs-4">
        <a href="https://openup.org.za/"><img class="img-responsive" src="/static/images/openup-logo.svg"/></a>
      </div>
    </div>
  {% endblock attribution %}

</div>
