{% extends "layout.html" %}
{% load pipeline %}
{% load staticfiles %}

{% block title %}Ask your MP to vote to voice our lack of confidence in the President{% endblock %}
{% block body-class %}create-email-page{% endblock %}
{% block og-image %}https://representme.co.za/static/images/pw-logo-fb.png{% endblock %}

{% block head-css %}
  {{ block.super }}
  {% stylesheet "css-psam" %}
{% endblock head-css %}

{% block js %}
  <script>
    var entities = {{ entities_json|safe }};
    var recaptchaKey = '{{ recaptcha_key }}';
  </script>

  {{ block.super }}
  {% javascript "js-psam" %}
{% endblock %}

{% block content %}
<div class="create-email-page">
  <img class="img-responsive" src="/static/images/pw-logo.png">
  <section class="hero">
    <div class="divider"></div>
    <h1>#RepresentMe</h1>
    <h2>Ask your MP to vote to voice our lack of confidence in the President</h2>
  </section>

  <form id="email-form" action="/email/" method="post">
    {% csrf_token %}

    {{ form.recipient_entity.as_hidden }}
    {{ form.body.as_hidden }}
    {{ form.subject.as_hidden }}
    {{ form.campaign_slug.as_hidden }}

    <section class="choose">
      <div class="row">
      {% for entity in neglected_entities %}
        <div class="col-xs-6 mp-wrap">
          <div class="single-mp row" data-id="{{ entity.id }}">
            <div class="col-xs-4">
              <div class="mp-img-wrapper center-block" {% if entity.local_portrait_url %}style="background-image:url({{ entity.local_portrait_url }})"{% endif %}>
                {% if entity.party %}
                <img class="party-logo" src="{{ entity.party.icon_url }}">
                {% endif %}
              </div>
            </div>
            <div class="col-xs-8">
              <div class="mp-name">{{ entity.name }}</div>
              <div class="email-count">
                <small>{% if entity.num_emails == 0 %}No emails sent yet{% else %}emailed {{ entity.num_emails }} times{% endif %}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <h4>Or search for an MP to write to:</h4>
      <div class="dropdown-wrap">
        <select id="select-dropdown" class="use-select2"></select>
      </div>
    </section>

    <section class="send-block">
      <div class="top">
        <div class="selected-mp-wrap">
          <div class="selected-mp">
            <div class="mp-img-wrapper">
              <img class="party-logo">
            </div>
          </div>
        </div>
        <div class="mp-name">
          <div class="button">
            <a class="pa-link" target="_blank" href="#"><img src="/static/images/pa-favicon.png"> Learn more about this MP</a>
          </div>
          <h3><b>To:</b> Honourable Member <span class="recipient"></span></h3>
        </div>

        <h3><b>Re:</b> Motion of No Confidence in the President of the Republic</h3>
      </div>

      <div class="question-block">
        <div class="email-textarea">
          <p>As an elected representative of the people you will soon be required to cast a vote in the Motion of No Confidence tabled against President Zuma.</p>
          <p>I have seen that Parliament has not always lived up to what the Constitution requires of it and has shown a weakness in holding the President and his Cabinet to account. It is worrying that this Parliament has failed to hold the President or his cabinet to account on the following issue(s) that are important to me:</p>

          <textarea name="reasons" placeholder="Tell us why holding the President to account is important to you" rows="4" required></textarea>

          <p>It is for these reasons that I do not have confidence in the President of the Republic and his cabinet.</p>
          <p>I trust that you will make my voice heard and vote to make sure the President and his Cabinet are held to account. I trust you will vote to represent the people, ensuring government by us under the Constitution.</p>
          <p>I hope that the vote that you cast will restore my trust in you, in Parliament and in government. I trust that your vote will be loyal to the Constitution, the Republic and its people.</p>
        </div>

        <div>
          <input class="name" type="text" name="name" placeholder="Your name" required>
        </div>
        <div>
          <input class="email" type="email" name="email"  placeholder="Your email address (optional)">
        </div>
        <div>
          <span class="choose-province-wrap">
            <select class="choose-province" name="province" required>
              <option value="" disabled selected>Your province</option>
              <option value="the Eastern Cape">Eastern Cape</option>
              <option value="the Free State">Free State</option>
              <option value="Gauteng">Gauteng</option>
              <option value="KwaZulu-Natal">KwaZulu-Natal</option>
              <option value="Limpopo">Limpopo</option>
              <option value="Mpumalanga">Mpumalanga</option>
              <option value="the North West">North West</option>
              <option value="the Northern Cape">Northern Cape</option>
              <option value="the Western Cape">Western Cape</option>
            </select>
          </span>
        </div>
        <div class="share-opt-in">
          <p>Can Parliament Watch use your email in their public campaign? We will remove your name first.</p>
          <label for="share">
            <input class="email" type="checkbox" name="share" id="share" value="yes"> Yes, Parliament Watch can use my email anonymously.
          </label>
        </div>

      </div>

      <div class="bottom">
        <div class="email-wrapper">
          <div id="recaptcha"></div>
          <div class="text-center">
            <input class="send-btn" type="submit" value="Send email">
          </div>
        </div>
      </div>
    </section>
  </form>
  {% endblock content %}

  {% block attribution %}
  {% include '_attribution_psam.html' %}
  {% endblock attribution %}
</div>
