{% extends "layout.html" %}
{% load pipeline %}
{% load staticfiles %}

{% block title %}Send a message to a Member of Parliament{% endblock %}
{% block body-class %}create-email-page{% endblock %}

{% block js %}
  <script>
    var persons = {{ persons_json|safe }};
    var recaptchaKey = '{{ recaptcha_key }}';
  </script>

  {{ block.super }}
  {% javascript "js" %}
  <script src='https://www.google.com/recaptcha/api.js?onload=recaptchaLoaded&render=explicit' async defer></script>
{% endblock %}

{% block content %}
<div class="create-email-page">
  <img class="img-responsive" src="/static/images/pw-logo.png">
  <section class="hero">
    <div class="divider"></div>
    <h1>#RepresentMe</h1>
    <h2>Send a message to a member of parliament</h2>
  </section>

  <form id="email-form" action="/email/" method="post">
    {% csrf_token %}

  {{ form.person.as_hidden }}
  {{ form.body.as_hidden }}
  {{ form.subject.as_hidden }}

    <section class="choose">
      <div class="row">
      {% for person in neglected_persons %}
        <div class="col-xs-6 mp-wrap">
          <div class="single-mp row" data-id="{{ person.id }}">
            <div class="col-xs-4">
              <div class="mp-img-wrapper center-block" {% if person.portrait_url %}style="background-image:url({{ person.portrait_url }})"{% endif %}>
                {% if person.party %}
                <img class="party-logo" src="{{ person.party.icon_url }}">
                {% endif %}
              </div>
            </div>
            <div class="col-xs-8">
              <div class="mp-name">{{ person.name }}</div>
              <div class="email-count">
                <small>{% if person.num_emails == 0 %}No emails sent yet{% else %}emailed {{ person.num_emails }} times{% endif %}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <div class="dropdown-wrap">
      <select id="select-dropdown" class="use-select2"></select>
    </div>

    <section class="send-block">
      <div class="top">
        <div class="selected-mp-wrap">
          <div class="selected-mp">
            <div class="mp-img-wrapper center-block">
              <img class="party-logo">
            </div>
          </div>
        </div>
        <div class="mp-name">
          <div>Honourable Member <span class="recipient"></span></div>
          <a class="pa-link" target="_blank" href="#"><img src="/static/images/pa-favicon.png"> Learn more about this MP</a>
        </div>
      </div>

      <div class="question-block">
        <div class="email-textarea">
          <p><b>Re: Motion of No Confidence in the President of the Republic</b></p>
          <p>As an elected representative of the people you will soon be required to cast a vote in the Motion of No Confidence tabled against President Zuma.</p>
          <p>I have seen that Parliament has not always lived up to what the Constitution requires of it and has shown a weakness in holding the President and his Cabinet to account. It is worrying that this Parliament has failed to hold the President or his cabinet to account on the following issue(s) that are important to me:</p>

          <textarea name="reasons" placeholder="Tell us why holding the President to account is import to you?" rows="4" required></textarea>

          <p>It is for these reasons that I do not have confidence in the President of the Republic and his cabinet.</p>
          <p>I trust that you will make my voice heard and vote to make sure the President and his Cabinet are held to account. I trust you will vote to represent the people, ensuring government by us under the Constitution.</p>
          <p>I hope that the vote that you cast will restore my trust in you, in Parliament and in government. I trust that your vote will be loyal to the Constitution, the Republic and its people.</p>
        </div>

        <div>
          <input class="name" type="text" name="name" placeholder="Your name?" required>
        </div>
        <div>
          <input class="email" type="email" name="email"  placeholder="Your email address" required>
        </div>
        <div>
          <span class="choose-province-wrap">
            <select class="choose-province" name="province" required>
              <option value="" disabled selected>Where do you live?</option>
              <option value="the Eastern Cape">Eastern Cape</option>
              <option value="the Free State">Free State</option>
              <option value="Gauteng">Gauteng</option>
              <option value="KwaZulu-Natal">KwaZulu-Natal</option>
              <option value="Limpopo">Limpopo</option>
              <option value="Mpumalanga">Mpumalanga</option>
              <option value="the North West">North West</option>
              <option value="the Northern Cape">Northern Cape</option>
              <option value="the Western Cape">Western Cape</option>
            </select>
          </span>
        </div>

      </div>

      <div class="bottom">
        <div class="email-wrapper">
          <div class="row">
            <div class="col-md-6">
              <input type="hidden" name="body" value="">
            </div>
            <div class="col-md-6">
              <div id="recaptcha"></div>
              <input class="send-btn" type="submit" value="Send email">
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>

  <div class="social-sharing">
    {% if is_mobile %}
    <a href="whatsapp://send?text={% block whatsapp_msg %}{{ SITE_NAME|urlencode }}%20{{ BASE_URL|urlencode }}{{ request.path|urlencode }}wa/{% endblock whatsapp_msg %}" data-action="share/whatsapp/share"><img src="/static/images/whatsapp-logo.png" alt="WhatsApp" height="32"></a>
    {% endif %}

    <a class="btn btn-fb fb-share" href="#" data-url="{{ BASE_URL }}{{ request.path }}"><i class="fa fa-facebook"></i> Share</a>

    <a class="btn btn-twitter twitter-share" href="#" data-url="{{ BASE_URL }}{{ request.path }}" href="#"><i class="fa fa-twitter"></i> Tweet</a>
    <div class="center-block embed-a"><a href="/embed.html"><i class="fa fa-code" aria-hidden="true"></i> Embed this on your site</a></div>
  </div>

  <footer>
    <div class="footer-content">
      <h2>Attribution</h2>
      <ul>
        <li><a target="_blank" href="http://www.pa.org.za/help/api">Member of Parliament data compiled by People's Assembly</a> is licensed under <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
      </ul>
      <div class="row">
        <div class="col-xs-6">
          <img class="img-responsive" src="/static/images/pw-logo-1.png"/>
        </div>
      </div>
    </div>
  </footer>
  {% endblock content %}

</div>
