{% extends "layout-ajax.html" %}
{% load pipeline %}
{% load staticfiles %}

{% block title %}Secret Ballot{% endblock %}

{% block js %}
<script>
  var recipient = {{ recipient_json|safe }};
  var recaptchaKey = '{{ recaptcha_key }}';
</script>

{{ block.super }}
{% javascript "js-ajax" %}
{% endblock %}

{% block content %}

<!-- Baleka Build Message -->

<div id="secret-ballot-build-message">
	<div class="header-text">
		Do your support a secret vote?
	</div>
	<div class="vote-info-rectangle">
		<div class="vote-info">
			<div class = "why-important">
				Why is this important?
			</div>
			<div class= "vote-info-text">
				In South Africa, Members of Parliment usually vote along party lines. If the vote is made secret, this will allow MPs to vote based on their opinion, and not what their political party dictates.
			</div>
		</div>
		<div class="baleka-info">
			<div class="why-email">
				Why email Baleka Mbete?
			</div>
			<div class="speaker-info">
				As Speaker of the National Assembly, Baleka Mbete has the power to declare the vote secret.
			</div>
			<div class="bMbete-img"><img src="../../static/images/Mbete_Baleka_0003.jpg" height="80"/></div>
			<div class="pa-logo-info">
				<span class="learn-more">Learn more about Ms Mbete</span>
				<span class="pa-image"><img src="../../static/images/pa-logo-dark.png" height="32" width="64" alt=""/></span>
			</div>
		</div>	
	</div>
	<div class="days-remaining-box">
		<div class="days-remaining-text-block">
			<div class="days-remaining-text">
				There are only
			</div>
			<div class="days-remaining-number">
				<span id="#days-remaining"></span> Days
			</div>
			<div class="days-remaining-text">
				left before the announcement
			</div>	
		</div>
	</div>
	<div class= "send-email-header">
		Send an email to Baleka Mbete
	</div>
	<form id="email-secret">
		<div class= "question-1-box">
			<div class="number-box">
	 			<div class="oval-number-box">
	 				<div class="oval-number-box-number">
	 					1
	 				</div>
	 			</div>
	 		</div>
	 		<div class="question-text">	
	 			<div class="question-body-text">
	 				Do you think that the Parlamentary vote of no confidence in President Jacob Zuma should be a secret vote?
					<div class="toggle-button-question">
						<span id="yes" class="toggle-select">
							YES, it should be secret
						</span>
						<span id="no" class="toggle-select">
							NO, it should not be secret
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="question-2-box">
			<div class="number-box">
	 			<div class="oval-number-box">
	 				<div class="oval-number-box-number">
	 					2
	 				</div>
	 			</div>
	 		</div>
			<div class="question-body-text">
				What three things concern you the most about the future of South Africa?  (Optional)
				<textarea class="textarea-styling" id="comment" name="question2"></textarea>	
			</div>
		</div>
		<div class="question-3-box">
			<div class="number-box">
				<div class="oval-number-box">
					<div class="oval-number-box-number">
						3
					</div>
				</div>
			</div>	
			<div class="question-body-text">
				<div class="yourName">
					<span class="name-text">Your name</span> <input class="name-input" type="text" name="name" value="">
				</div>
				<div class="yourEmail">
					<span class="email-text">Your email address</span> <input class="email-input" type="text" name="email" value="">
				</div>
			</div>
		</div>
		<div class="preview-submit-position">
			<input class="preview-email" type="submit" id="previewEmail" value="Preview your email">
		</div>		
	</form>	
</div>


<!-- Baleka Preview Message -->

<div id="secret-ballot-preview-message">
	<div class="header-text">
		Preview your email to Baleka Mbete.
	</div>
	<div class="preview-complete-box">
		<table class="table-position">
			<tr>
				<td class="preview-name-title">Your Name</td>
				<td class="preview-name-data" id="name"></td>
			</tr>
			<tr>
				<td class="preview-name-title">Your email address</td>
				<td class="preview-name-data" id="email"></td>
			</tr>
			<tr>
				<td class="preview-name-title">Email subject</td>
				<td class="preview-name-data" id="email-title">I want a secret ballot in the vote of no confidence</td>
			</tr>	
		</table>
		<div class="preview-content-border">
			<div id="comment-preview">
			</div>
		</div>			
	</div>
	<div class="preview-submit-position">
		<input class="preview-email-send" type="submit" id="sendEmail" value="Send your email">
		<div id="editEmail" class="change-email-position">Change your email</div>
	</div>
	<div class="change-email-position">

	</div>	
</div>


<!-- Baleka Email Sent -->

<div id="secret-ballot-sent">
	<div class="header-text">
		Thank you, your email has been sent.
	</div>
	<div class="protest-march-box">
		<div class="protest-march-question">
			<p>While we have you, do you mind if we ask you one more question?</p>
			<p>Have you ever participated in a protest march?</p>
			<div class="protest-march-answer-box">
				<span id="yesProtest" class="toggle-select-protest">
					YES, I have
				</span>
				<span id="noProtest" class="toggle-select-protest">
					NO, I have not
				</span>
			</div>
		</div>
	</div>
	<div class="share-social-text">
		Help others get their voices heard, share this on social media:
	</div>
	<input class="twitter-button" type="button" id="twitter" value="Twitter">
</div>
{% endblock content %}
