{% extends "layout-ajax.html" %}
{% load pipeline %}
{% load staticfiles %}

{% block title %}Secret Ballot{% endblock %}

{% block js %}
<script>
  var persons = {{ persons_json|safe }};
  var recaptchaKey = '{{ recaptcha_key }}';
</script>

{{ block.super }}
{% javascript "js-ajax" %}
{% endblock %}

{% block content %}
<div class="secret-ballot">
	<div class="header-text">
		Do your support a secret vote?
	</div>
	<div class="vote-info-rectangle">
		<div class="vote-info-headings">
			<span class = "why-important">
				Why is this important?
			</span>
			<span class = "why-email">
			Why email Baleka Mbete
			</span>	
		</div>
		<div class="vote-info">
			<span class= "vote-info-text">
				In south Africa, members of parliment usually vote along party lines, even if they have a different opinion. If the vote is made secret, this will allow MPs to vote based on their opinion, and not what their political party dictates.
			</span>
			<span class= "speaker-info">
				As Speaker of the National Assembly, Baleka Mbete has the power to declare the vote secret.
			</span>	
		</div>
	</div>
	<div class= "send-email-header">
		Send and email to Baleka Mbete
	</div>
	<form id="email-secret">
		<div class= "question-1-box">
			<div class="question-1">
	 			<div class="oval-number-box">
	 				<div class="oval-number-box-number">
	 					1
	 				</div>
	 			</div>
	 			<div class="question-1-text">
	 				Do you think that the Parlamentary vote of no confidence in President Jacob Zuma, should be a secret ballot?
	 			</div>
			</div>
			<div class="toggle-button-question">
				<span class="toggle-select-yes">
					YES, it should be secret
				</span>
				<span class="toggle-select-no">
					NO, it should not be secret
				</span>
			</div>
		</div>	
	</form>	
</div>
{% endblock content %}
