{% extends "layout-ajax.html" %}
{% load pipeline %}
{% load staticfiles %}

{% block title %}Secret Ballot{% endblock %}

{% block js %}
<script>
  var recipient = {{ recipient_json|safe }};
  var recaptchaKey = '{{ recaptcha_key }}';
</script>

{{ block.super }}
{% javascript "js-ajax" %}
{% endblock %}

{% block content %}

<!-- Baleka Build Message -->

<div id="secret-ballot-build-message">
	<div class="header-text">
		Do your support a secret vote?
	</div>
	<div class="vote-info-rectangle">
		<div class="vote-info-headings">
			<span class = "why-important">
				Why is this important?
			</span>
			<span class = "why-email">
			Why email Baleka Mbete?
			</span>
		</div>
		<div class="vote-info">
			<span class= "vote-info-text">
				In South Africa, Members of Parliament usually vote along party lines. If the vote is made secret, this will allow MPs to vote based on their opinion, and not what their political party dictates.
			</span>
			<span class= "speaker-info">
				As Speaker of the National Assembly, Baleka Mbete has the power to declare the vote secret.
			</span>
		</div>
	</div>
	<div class="days-remaining-box">
		<div class="days-remaining-text-block">
			<div class="days-remaining-text">
				There are only
			</div>
			<div class="days-remaining-number">
				<span id="#days-remaining"></span> days
			</div>
			<div class="days-remaining-text">
				left before the vote
			</div>
		</div>
	</div>
	<div class= "send-email-header">
		Send an email to Baleka Mbete
	</div>
	<form id="email-secret" autocomplete="off">
		<div class= "question-1-box">
			<div class="question-text">
	 			<div class="oval-number-box">
	 				<div class="oval-number-box-number">
	 					1
	 				</div>
	 			</div>
	 			<div class="question-body-text">
	 				Do you think that the Parliamentary vote of no confidence in President Jacob Zuma should be a secret vote?
	 			</div>
			</div>
			<div class="toggle-button-question">
				<span id="yes" class="toggle-select">
					YES, it should be secret
				</span>
				<span id="no" class="toggle-select">
					NO, it should not be secret
				</span>
			</div>
		</div>
		<div class="question-2-box">
			<div class="question-text">
				<div class="oval-number-box">
					<div class="oval-number-box-number">
						2
					</div>
				</div>
				<div class="question-body-text">
					What three things concern you the most about the future of South Africa?  (Optional)
				</div>
			</div>
			<div class="textarea-position">
				<textarea class="textarea-styling" id="comment" name="question2" rows="4" cols="56"></textarea>
			</div>
		</div>
		<div class="question-3-box">
			<div class="question-text">
				<div class="oval-number-box">
					<div class="oval-number-box-number">
						3
					</div>
				</div>
				<div class="question-body-text">
					<div class="yourName">
						Your name <input class="name-input" type="text" name="name" value="">
					</div>
					<div class="yourEmail">
						Your email address <input class="email-input" type="text" name="email" value="">
					</div>
				</div>
			</div>
		</div>
		<div class="preview-submit-position">
			<input class="preview-email" type="button" id="previewEmail" value="Preview your email" disabled>
		</div>
	</form>
</div>


<!-- Baleka Preview Message -->

<div id="secret-ballot-preview-message">
	<div class="header-text">
		Preview your email to Baleka Mbete.
	</div>
	<div class="preview-complete-box">
		<table class="table-position">
			<tr>
				<td class="preview-name-title">Your name</td>
				<td class="preview-name-data" id="name"></td>
			</tr>
			<tr>
				<td class="preview-name-title">Your email address</td>
				<td class="preview-name-data" id="email"></td>
			</tr>
			<tr>
				<td class="preview-name-title">Email subject</td>
				<td class="preview-name-data" id="email-title">I want a secret ballot in the vote of no confidence</td>
			</tr>
		</table>
		<div class="preview-content-border">
			<div id="comment-preview">
			</div>
		</div>
	</div>
	<div id="recaptcha"></div>
	<div class="preview-submit-position">
		<input class="preview-email-send" type="submit" id="sendEmail" value="Send your email" form="email-secret">
		<div id="editEmail" class="change-email-position">Change your email</div>
	</div>
	<div class="change-email-position">

	</div>
</div>


<!-- Baleka Email Sent -->

<div id="secret-ballot-sent">
	<div class="header-text">
		Thank you, your email has been sent.
	</div>
	<h3>While we have you, do you mind if we ask you a quick question?</h3>
	<div class="follow-up-question-box">
		<div class="follow-up-question">
		      <p>Have you ever participated in a protest march?</p>
		</div>
		<div class="follow-up-answer-box">
			<span id="follow-up-answer-1" class="toggle-select-follow-up">
				YES, I have
			</span>
			<span id="follow-up-answer-2" class="toggle-select-follow-up">
				NO, I have not
			</span>
		</div>
	</div>
	<div class="share-social-text">
		Help others get their voices heard, share this on social media:
	</div>
	<div class="row">
	  <div class="col-xs-6 text-center">
	    <input class="fb-share" type="button" value="Facebook" data-url="XXX-FIX-ME-URL">
	  </div>

	  <div class="col-xs-6 text-center">
	    <input class="twitter-share" type="button" value="Tweet" data-hashtag="SecretBallot" data-url="XXX-FIX-ME-URL">
	  </div>
	</div>
</div>
{% endblock content %}
