@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/theme.scss';

$gold: #FCB514;

$font-serif: 'Helvetica', 'Open-Sans', sans-serif;

/a {
  color: $gold !important;
}

.secret-ballot{
	.secret-ballot-page {
		background-color: #fff;
		text-align: center;
	}

	.header-text {
		font-size: 24px;
		font-weight: 400;
		color: #4a4a4a;
		text-align: left;
		font-family: $font-serif !important;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left: 29%;
		font-weight: bold;
	}
	.vote-info-rectangle {
		background-color: #f0f0f0;
		width: 535px;
		height: 215px;
		border-radius: 4px;
		margin-left: 29%;
	}
	.vote-info-headings {
		height: 17px;
		font-family: $font-serif !important;
		font-size: 14px;
		font-weight: bold;
		text-align: left;
		color: #4a4a4a;
	}
	.why-important {
		float: left;
		padding-top: 13px;
		padding-left: 10px;
	}
	.why-email {
		float: right;
		padding-right: 100px;
		padding-top: 13px;
	}
	.vote-info {
		width: 535px;
		height: 136px;
		font-family: $font-serif !important;
		font-size: 14px;
		text-align: left;
		color: #4a4a4a;
	}
	.vote-info-text {
		width: 208px;
		float: left;
		padding-top: 13px;
		padding-left: 10px;

	}
	.speaker-info {
		width: 260px;
		float: right;
		padding-right: 100px;
		padding-top: 13px;
	}
	.send-email-header {
		width: 519px;
		height: 29px;
		font-family; $font-serif;
		font-size: 24px;
		font-weight: bold;
		text-align: left;
		color: #4a4a4a;
		margin-left: 29%;
		margin-top: 15px;
	}
	#email-secret {

	}
	.question-1-box {
		width: 536px;
		height: 126px;
		border-radius: 5px;
		background-color: #f0f0f0;
		margin-left: 29%;
		margin-top: 15px;
		padding-top: 8px;
	}
	.question-text {
		width: 536px;
	}
	.oval-number-box {
		width: 45px;
		height: 45px;
		background-color: #167937;
		border-radius: 45px;
		margin-left: 15px;
		float: left;
	}
	.oval-number-box-number {
		height: 38px;
		font-family: $font-serif;
		font-size: 32px;
		font-weight: bold;
		text-align: center;
		color: #fff;
	}
	.question-body-text {
		width: 440px;
		padding-top: 10px;
		padding-right: 10px;
		float: right;
	}
	.toggle-button-question {
		width: 420px;
		height: 40px;
		border-radius: 100px;
		background-color: #fff;
		margin-top: 65px;
		margin-left: 90px;
	}
	.toggle-select-yes {
		width: 205px;
		height: 40px;
		border-radius: 100px;
		background-color: #fff;
		color: #000;
		font-size: 16px;
		float: left;
		padding-top: 8px;
		padding-left: 8px;
	}
	.toggle-select-no {
		width: 215px;
		height: 40px;
		border-radius: 100px;
		background-color: #fff;
		color: #000;
		font-size: 16px;
		float: right;
		padding-top: 8px;
		padding-right: 8px;
		padding-left: 8px;
	}
	.toggle-select-yes:active {
		background-color: #167937;
		color: #fff;
	}
	.toggle-select-no:active {
		background-color: #167937;
		color: #fff;
	}
	.question-2-box {
		width: 536px;
		height: 170px;
		border-radius: 5px;
		background-color: #f0f0f0;
		margin-left: 29%;
		margin-top: 15px;
		padding-top: 8px;
	}
	.textarea-position {
		margin-left: 95px;
		padding-top: 60px;
	}
	.question-3-box {
		width: 536px;
		height: 120px;
		border-radius: 5px;
		background-color: #f0f0f0;
		margin-left: 29%;
		margin-top: 15px;
		padding-top: 8px;
	}
	.yourName {
		margin-left: 55px;
	}
	.name-input {
		width: 200px;
	}
	.yourEmail {
		margin-left: 3px;
	}
	.email-input {
		width: 200px;
	}
}