$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/theme.scss';

$gold: #FCB514;

$font-serif: 'Helvetica', 'Open-Sans', sans-serif;

/a {
  color: $gold !important;
}

#secret-ballot-build-message {
	.secret-ballot-page {
		background-color: #fff;
		text-align: center;
	}

	.header-text {
		font-size: 24px;
		font-weight: 400;
		color: #4a4a4a;
		text-align: left;
		font-family: $font-serif !important;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left: 29%;
		font-weight: bold;
	}
	.vote-info-rectangle {
		background-color: #f0f0f0;
		width: 42%;
		height: 215px;
		border-radius: 4px;
		margin-left: 29%;
	}
	.vote-info-headings {
		height: 17px;
		font-family: $font-serif !important;
		font-size: 14px;
		font-weight: bold;
		text-align: left;
		color: #4a4a4a;
	}
	.why-important {
		float: left;
		padding-top: 13px;
		padding-left: 10px;
	}
	.why-email {
		float: right;
		padding-right: 100px;
		padding-top: 13px;
	}
	.vote-info {
		width: 100%;
		height: 136px;
		font-family: $font-serif !important;
		font-size: 14px;
		text-align: left;
		color: #4a4a4a;
	}
	.vote-info-text {
		width: 40%;
		float: left;
		padding-top: 13px;
		padding-left: 10px;

	}
	.speaker-info {
		width: 48%;
		float: right;
		padding-right: 100px;
		padding-top: 13px;
	}
	.days-remaining-box {
		width: 42%;
		height: 120px;
		border-radius: 4px;
		background-color: #c20000;
		margin-left: 29%;
		margin-top: 15px;
	}
	.days-remaining-text-block {
		text-align: center;
		height: 120px;
		padding-top: 8px;
	}
	.days-remaining-text {
		font-family: $font-serif;
		font-size: 18px;
		font-weight: bold;
		color: #fff;
	}
	.days-remaining-number {
		font-family: $font-serif;
		font-size: 36px;
		font-weight: bold;
		color: #fff;
	}
	.send-email-header {
		width: 40%;
		height: 29px;
		font-family; $font-serif;
		font-size: 24px;
		font-weight: bold;
		text-align: left;
		color: #4a4a4a;
		margin-left: 29%;
		margin-top: 15px;
	}
	#email-secret {

	}
	.question-1-box {
		width: 42%;
		height: 126px;
		border-radius: 5px;
		background-color: #f0f0f0;
		margin-left: 29%;
		margin-top: 15px;
		padding-top: 8px;
	}
	.question-text {
		width: 100%;
	}
	.oval-number-box {
		width: 8%;
		height: 44px;
		background-color: #167937;
		border-radius: 45px;
		margin-left: 15px;
		float: left;
	}
	.oval-number-box-number {
		height: 38px;
		font-family: $font-serif;
		font-size: 32px;
		font-weight: bold;
		text-align: center;
		color: #fff;
	}
	.question-body-text {
		width: 82%;
		padding-top: 10px;
		padding-right: 10px;
		float: right;
		font-family: $font-serif !important;
		font-size: 16px;
		color: #4a4a4a;
	}
	.toggle-button-question {
		width: 79%;
		height: 40px;
		border-radius: 100px;
		background-color: #fff;
		margin-top: 65px;
		margin-left: 90px;
	}
	.toggle-select {
		width: 49%;
		height: 40px;
		border-radius: 100px;
		background-color: #fff;
		color: #000;
		font-size: 16px;
		float: left;
		padding-top: 8px;
		padding-left: 8px;
		&#no {
			width: 50%;
			float: right;
			padding-right: 8px;
		}
		&.selected {
			background-color: #167937;
			color: #fff;
		}
	}
	.question-2-box {
		width: 42%;
		height: 170px;
		border-radius: 5px;
		background-color: #f0f0f0;
		margin-left: 29%;
		margin-top: 15px;
		padding-top: 8px;
	}
	.textarea-position {
		margin-left: 95px;
		padding-top: 60px;
	}
	.textarea-styling {
		border-radius: 5px;
		border: solid 1px #d2d2d2;
		resize: none;
	}
	.question-3-box {
		width: 42%;
		height: 120px;
		border-radius: 5px;
		background-color: #f0f0f0;
		margin-left: 29%;
		margin-top: 15px;
		padding-top: 8px;
	}
	.yourName {
		margin-left: 45px;
		padding-bottom: 10px;
		font-family: $font-serif !important;
		font-size: 16px;
		color: #4a4a4a;
	}
	.name-input {
		width: 74%;
		height: 40px;
		border-radius: 5px;
		border: 1px solid #d2d2d2;
	}
	.yourEmail {
		margin-left: -15px;
		font-family: $font-serif !important;
		font-size: 16px;
		color: #4a4a4a;
	}
	.email-input {
		width: 64.3%;
		height: 40px;
		border-radius: 5px;
		border: 1px solid #d2d2d2;
	}
	.preview-email {
		width: 435px;
		height: 60px;
		border-radius: 100px;
		border: none;
		background-color: #167937;
		color: #fff;
		font-family: $font-serif !important;
		font-size: 18px;
		font-weight: bold;
	}
	.preview-submit-position {
		margin-left: 33%;
		margin-top: 15px;
	}
}
#secret-ballot-preview-message {
	.header-text {
		font-size: 24px;
		font-weight: 400;
		color: #4a4a4a;
		text-align: left;
		font-family: $font-serif !important;
		padding-top: 40px;
		padding-bottom: 20px;
		margin-left: 29%;
		font-weight: bold;
	}
	.preview-complete-box {
		width: 42%;
		height: 512px;
		border-radius: 5px;
		background-color: #f0f0f0;
		margin-left: 29%;
		padding-top: 20px;
	}
	.table-position {
		margin-left: 20px;
	}
	.preview-name-title {
		font-family: $font-serif !important;
		font-size: 14px;
		font-weight: bold;
		text-align: right;
		color: #4a4a4a;
		padding-right: 30px;
		padding-top: 10px;
	}
	.preview-name-data {
		font-family: $font-serif !important;
		font-size: 14px;
		color: #4a4a4a;
		padding-top: 10px;
	}
	.preview-content-border {
		width: 96%;
		height: 360px;
		border-radius: 4px;
		border: 1px solid #d2d2d2;
		margin-left: 10px;
		margin-top: 30px;
	}
	.preview-email-send {
		width: 51%;
		height: 60px;
		border-radius: 100px;
		border: none;
		background-color: #167937;
		color: #fff;
		font-family: $font-serif !important;
		font-size: 18px;
		font-weight: bold;
	}
	.preview-submit-position {
		margin-left: 33%;
		margin-top: 25px;
	}
	.change-email-position {
		font-family: $font-serif !important;
		font-size: 18px;
		color: #4a4a4a;
		text-decoration: underline;
		padding-left: 17%;
		padding-top: 10px;
	}
	.change-email-position:hover {
		cursor: pointer;
	}
}

#secret-ballot-sent {
	.header-text {
		font-size: 24px;
		font-weight: 400;
		color: #4a4a4a;
		text-align: left;
		font-family: $font-serif !important;
		padding-top: 40px;
		padding-bottom: 20px;
		margin-left: 29%;
		font-weight: bold;
	}
	.protest-march-box {
		width: 42%;
		height: 185px;
		border-radius: 5px;
		background-color: #f0f0f0;
		margin-left: 29%;
	}
	.protest-march-question {
		width: 500px;
		height: 120px;
		padding-top: 20px;
		padding-left: 35px;
		font-size: 20px;
	}
	.protest-march-answer-box {
		width: 460px;
		height: 40px;
		border-radius: 100px;
		background-color: #fff;
		margin-left: 35px;
		margin-top: 10px;
	}
	.toggle-select-protest {
		width: 225px;
		height: 40px;
		border-radius: 100px;
		background-color: #fff;
		color: #000;
		font-size: 16px;
		float: left;
		padding-top: 8px;
		padding-left: 16%;
		&#noProtest {
			width: 232px;
			float: right;
			padding-right: 8px;
		}
		&.selected {
			background-color: #167937;
			color: #fff;
		}
	}
	.share-social-text {
		width: 500px;
		height: 52px;
		margin-left: 29%;
		margin-top: 20px;
		font-family: $font-serif !important;
		font-size: 20px;
		font-weight: bold;
		color: #4a4a4a;
	}
	.share-header {
		font-family: $font-serif !important;
		font-size: 18px;
		color: #4a4a4a;
		margin-left: 30%;
		margin-top: 40px;
		margin-bottom: 20px;
	}
	.twitter-share-box {
		width: 516px;
		height: 101px;
		border-radius: 5px;
		background-color: #fff;
		border: 1px solid #d2d2d2;
		margin-left: 30%;
		font-size: 14px;
		font-family: $font-serif !important;
		color: #4a4a4a;
		padding-top: 15px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.twitter-button {
		width: 144px;
		height: 33px;
		border-radius: 4px;
		border: none;
		background-color: #4990e2;
		color: #fff;
		margin-left: 58%;
	}
}
