$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/theme.scss';

$gold: #FCB514;

$font-serif: 'Helvetica', 'Open-Sans', sans-serif;

h1, h2, h3, h4 {
  color: #4a4a4a;
  font-weight: bold;
}

.header-text {
  font-size: 24px;
  color: #4a4a4a;
  font-family: $font-serif !important;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}

.gray-box {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 15px;
}

.btn-continue {
  border-radius: 100px;
  border: none;
  background-color: #167937;
  color: #fff;
  font-family: $font-serif !important;
  font-size: 18px;
  font-weight: bold;
}

textarea,
input[type=text],
input[type=email] {
  font-size: 16px;  // avoid iOS zooming in
}

#secret-ballot-build-message {
  padding-bottom: 40px;
	.secret-ballot-page {
		background-color: #fff;
		text-align: center;
	}
}

textarea, input {
  border-radius: 4px;
  border: solid 1px #d2d2d2;
  resize: none;
  padding: 8px;
  width: 100%;
}

#secret-ballot-build-message {
  .pa-box {
    background-color: #fff;
    margin-top: 10px;
    padding: 8px;
    text-align: center;
    a {
      color: #4a4a4a;
    }
  }
  .days-remaining-box {
    border-radius: 4px;
    background-color: #c20000;
    margin-top: 15px;
    font-family: $font-serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding: 8px;
    .days-remaining-number {
      font-size: 36px;
    }
  }
  .send-email-header {
    font-family; $font-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #4a4a4a;
    margin-top: 15px;
    padding-left: 8px;
    padding-right: 8px;
  }
  #email-secret {
    .number {
      height: 50px;
      width: 50px;
      background-color: #167937;
      border-radius: 100%;
      font-family: $font-serif;
      line-height: 50px;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      color: #fff;
    }
    .question {
      margin-top: -50px;
      margin-left: 60px;
    }
    textarea {
      margin-left: 60px;
      width: calc(100% - 60px);
      margin-top: 8px;
    }
    .name-input {
      margin-bottom: 8px;
    }
  }
  .toggle-button-question {
    margin-left: 60px;
    margin-top: 10px;
    .toggle-select {
      background-color: #fff;
      color: #4a4a4a;
      font-size: 16px;
      padding: 8px;
      text-align: center;
      cursor: pointer;
      width: 100%;
      display: inline-block;
      @media only screen and (min-width: 560px) {
        width: 49%;
      }
      &#no {
        border-top: 3px solid #f0f0f0;
      }
      &.selected {
        background-color: #167937;
        color: #fff;
      }
    }
  }
  .preview-email {
    border-radius: 100px;
    border: none;
    background-color: #167937;
    color: #fff;
    font-family: $font-serif !important;
    font-size: 18px;
    font-weight: bold;
  }
  .preview-submit-position {
    margin-top: 15px;
    text-align: center;
  }
}

#secret-ballot-preview-message {
  .sender-info {
    .left {
      min-width: 65px;
      padding-right: 15px;
      vertical-align: top;
      font-weight: bold;
    }
    td {
      padding-bottom: 10px;
    }
  }
  #comment-preview {
    padding-top: 15px;
    border-top: 1px solid #d2d2d2;
    margin-top: 5px;
  }
  #sendEmail {
    margin-top: 20px;
  }
  #editEmail {
    font-family: $font-serif !important;
    font-size: 18px;
    color: #4a4a4a;
    text-decoration: underline;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
  }
}

#secret-ballot-sent {
  h3 {
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
    font-family: $font-serif !important;
    padding-top: 40px;
    padding-bottom: 20px;
  }
   
  .follow-up-question-box {
    border-radius: 5px;
    background-color: #f0f0f0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .follow-up-question {
    padding-top: 20px;
    padding-left: 35px;
    font-size: 20px;
  }

  .follow-up-answer-box {
    border-radius: 100px;
    background-color: #fff;
    margin-top: 10px;
  }

  .toggle-select-follow-up {
    border-radius: 100px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    float: left;
    padding-top: 8px;
    text-align: center;
    &#follow-up-answer-2 {
      float: right;
      padding-right: 8px;
    }
    &.selected {
      background-color: #167937;
      color: #fff;
    }
  }
  .share-social-text {
    margin-top: 20px;
    font-family: $font-serif !important;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
    padding-right: 8px;
    padding-left: 8px;
  }
  .share-header {
    font-family: $font-serif !important;
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .twitter-share-box {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    font-family: $font-serif !important;
    color: #4a4a4a;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .twitter-button {
    border-radius: 4px;
    border: none;
    background-color: #4990e2;
    color: #fff;
    margin-left: 58%;
  }
	h3 {
	  font-size: 18px;
	  font-weight: bold;
	  color: #4a4a4a;
	  font-family: $font-serif !important;
	  padding-top: 40px;
	  padding-bottom: 20px;
	}
	 
	.follow-up-question-box {
		width: 100%;
		height: 185px;
		border-radius: 5px;
		background-color: #f0f0f0;
	}
	.follow-up-question {
		width: 500px;
		height: 120px;
		padding-top: 20px;
		padding-left: 35px;
		font-size: 20px;
	}
	.follow-up-answer-box {
		width: 460px;
		height: 40px;
		border-radius: 100px;
		background-color: #fff;
		margin-left: 35px;
		margin-top: 10px;
	}
	.toggle-select-follow-up {
		width: 225px;
		height: 40px;
		border-radius: 100px;
		background-color: #fff;
		color: #000;
		font-size: 16px;
		float: left;
		padding-top: 8px;
		padding-left: 16%;
		&#follow-up-answer-2 {
			width: 232px;
			float: right;
			padding-right: 8px;
		}
		&.selected {
			background-color: #167937;
			color: #fff;
		}
	}
	.share-social-text {
		width: 100%;
		height: 52px;
		margin-top: 20px;
		font-family: $font-serif !important;
		font-size: 20px;
		font-weight: bold;
		color: #4a4a4a;
	}
	.share-header {
		font-family: $font-serif !important;
		font-size: 18px;
		color: #4a4a4a;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.fb-share,
	.twitter-share {
		width: 144px;
		height: 33px;
		border-radius: 4px;
		border: none;
		color: #fff;
	}

	.fb-share {
		background-color: #3b5998;
	}

	.twitter-share {
		background-color: #4990e2;
	}
}
