{% extends "layout.html" %}
{% load pipeline %}
{% load staticfiles %}

{% block title %}National Representation{% endblock %}

{% block head-css %}
{% stylesheet "css-natrepresentation" %}
{% endblock %}

{% block js %}
{{ block.super }}
{% javascript "js-natrepresentation" %}
{% endblock %}

{% block content %}

<h2>Latest open letters</h2>

<section id="messages">

  {% for email in emails %}
  <div class="email">
    <div class="">
      <span class="email-meta-heading">From:</span> {{ email.from_name }}
    </div>
    <div class="">
      <span class="email-meta-heading">To:</span> {{ email.to_person.name }}
    </div>
    <div class="">
      <span class="email-meta-heading">Date:</span> {{ email.created_at }}
    </div>
    <div class="email-body">
      {{ email.body_html | safe }}
    </div>
  </div>
  {% endfor %}

</section>

{% block attribution_heading %}{% endblock %}
{% block social_sharing %}{% endblock %}
{% endblock content %}
