{% extends "layout.html" %}
{% load strip_qs pipeline staticfiles %}

{% block title %}{{ email.from_name }} wrote {{ email.to_entity.name }} to comment on land expropriation without compensation{% endblock %}
{% block og_title %}{{ email.from_name }} wrote {{ email.to_entity.name }} to comment on land expropriation without compensation{% endblock %}
{% block tweet %}{{ email.from_name }} wrote {{ email.to_entity.name }} to comment on land expropriation without compensation{% endblock %}

{% block head-css %}
  {{ block.super }}
  {% stylesheet "css-landexpropriation" %}
{% endblock head-css %}

{% block content %}

<div id="sent-page">
  <div class="gray-box">
    <table class="sender-info">
      <tr>
        <td class="left">To</td>
        <td>{{ email.to_entity.name }}</td>
      </tr>
      <tr>
        <td class="left">From</td>
        <td>{{ email.from_name }}</td>
      </tr>
      <tr>
        <td class="left">Subject</td>
        <td>{{ email.subject }}</td>
      </tr>
    </table>
    <div id="sent-email-text">{{ email.body_html|safe }}</div>
  </div>
  {% endblock content %}

  {% block social_sharing %}
  {% endblock social_sharing %}

  {% block js %}
  {{ block.super }}
  {% javascript "js-landexpropriation" %}
  {% endblock %}

  {% block attribution_heading %}
  {% endblock attribution_heading %}

  {% block attribution %}
  <section class="attribution">
    <a target="_blank" href="https://openup.org.za"><img src="/static/images/openup-logo-light.svg"></a>
    <a target="_blank" href="https://pmg.org.za"><img src="/static/images/pmg-logo.png"></a>
  </section>
  {% endblock attribution %}
</div>
