{% extends "layout.html" %}
{% load strip_qs pipeline %}

{% block title %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_persnop.name }} in Parliament.{% endblock %}
{% block og_title %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_person.name }} in Parliament.{% endblock %}
{% block tweet %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_person.name }} in Parliament{% endblock %}
{# whatsapp_msg must be urlencoded #}
{% block whatsapp_msg %}I,%20{{ email.from_name|urlencode }},%20sent%20a%20message%20to%20{{ email.to_person.name|urlencode }}%20MP!%20Will%20you?%20{{ BASE_URL }}{{ request.path }}wa/{% endblock %}

{% block content %}

<div id="sent-page">
	<div class="sent-email">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>I've made my voice heard, have you?</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2>I, {{ email.from_name }}, sent a message to {{ email.to_person.name }} MP</h2>
			</div>
		</div>
	</div>


	<div class="email-details">
		<div>From: <b>{{ email.from_name }} &lt;{{ email.from_email }}&gt;</b></div>
		<div>To: <b>{{ email.to_person.name }}</b></div>
		<div>Subject: <b>{{ email.subject }}</b></div>
	</div>

	<div class="email-body">
	  {{ email.body }}
	</div>

	<div class="text-center">
		<a class="btn btn-contact" href="/campaign/noconfidence/"><i class="fa fa-university" aria-hidden="true"></i> Contact your MP</a>
	</div>

	<br>
	{% endblock content %}

	{% block js %}
	{{ block.super }}
	{% javascript "campaign" %}
	{% endblock %}

	{% block attribution %}
	<div>
	  The headline image is a derivative work of a <a target="_blank" href="https://www.flickr.com/photos/michaelhebb/5701999088/in/photolist-6hsFjU-AoRjc-8nh5Q4-Ei6m71-snzer1-6X1Hmi-5qNmgc-dR3XzP-dR9vS3-8D9MUS-o4gXBt-6X8zLZ-i7CXHn-dpirUa-d59QMG-5x36Di-Rk6sq5-RDE4gy-den4Ck-bUtToB-51XW6w-9dA2fi-brAo43-f81cpu-nM6SXn-aqhWae-8NtUJA-o4tMVU-hcRBHM-KRXgC-p8F6Yf-nJsf5S-9hhpEr-o4thB1-s6bgRP-o6nz9v-ia7fFM-BLJjRH-ky2WRx-8ebe5L-9FSeF7-6Up7gM-qw5s5D-s84xhT-sp2iLu-iKDgoU-kCi7r9-8boVRg-aJ4ex4-i7QhBe">photo by Michael Hebb</a>, licensed under <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/2.0/legalcode">CC BY-NC-SA 2.0</a>
	</div>
	{% endblock attribution %}
</div>
