{% extends "layout.html" %}
{% load strip_qs pipeline staticfiles %}

{% block title %}{{ email.from_name }} wrote an open letter to Hon. Member {{ email.to_entity.name }} in Parliament{% endblock %}
{% block og_title %}{{ email.from_name }} wrote an open letter to Hon. Member {{ email.to_entity.name }} in Parliament{% endblock %}
{% block tweet %}{{ email.from_name }} wrote an open letter to Hon. Member {{ email.to_entity.name }} in Parliament{% endblock %}

{% block head-css %}
  {{ block.super }}
  {% stylesheet "css-landexpropriation" %}
{% endblock head-css %}

{% block content %}

<div id="sent-page">
  <div class="gray-box">
    <table class="sender-info">
      <tr>
        <td class="left">To</td>
        <td>{{ email.to_entity.name }}</td>
      </tr>
      <tr>
        <td class="left">From</td>
        <td>{{ email.from_name }}</td>
      </tr>
      <tr>
        <td class="left">Subject</td>
        <td>{{ email.subject }}</td>
      </tr>
    </table>
    <div>{{ email.body_html|safe }}</div>
  </div>
  {% endblock content %}

  {% block social_sharing %}
  {% endblock social_sharing %}

  {% block js %}
  {{ block.super }}
  {% javascript "js-landexpropriation" %}
  {% endblock %}

  {% block attribution %}
  {% endblock attribution %}
</div>
