{% extends "layout.html" %}
{% load strip_qs pipeline %}

{% block title %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_persnop.name }} in Parliament.{% endblock %}
{% block og_title %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_person.name }} in Parliament.{% endblock %}
{% block tweet %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_person.name }} in Parliament{% endblock %}
{# whatsapp_msg must be urlencoded #}
{% block whatsapp_msg %}I,%20{{ email.from_name|urlencode }},%20sent%20a%20message%20to%20{{ email.to_person.name|urlencode }}%20MP!%20Will%20you?%20{{ BASE_URL }}{{ request.path }}wa/{% endblock %}

{% block content %}

<div id="sent-page">
	<header>
		<section class="hero">
			<h1>I've made my voice heard, have you?</h1>
			<h2>{{ SITE_NAME }}</h2>
		</section>
	</header>

	<div class="sent-email">
		<div class="email-details">
			<h3>I, {{ email.from_name }}, sent a message to {{ email.to_person.name }} MP</h3>

			<div>From: <b>{{ email.from_name }} &lt;{{ email.from_email }}&gt;</b></div>
			<div>To: <b>{{ email.to_person.name }}</b></div>
			<div>Subject: <b>{{ email.subject }}</b></div>
		</div>

		<div class="email-body">
			{{ email.body_html|safe }}
		</div>
	</div>

	<div class="text-center">
		<a class="btn btn-contact" href="/campaign/{{ campaign }}/"><i class="fa fa-university" aria-hidden="true"></i> Contact your MP</a>
	</div>

	<br>
	{% endblock content %}

	{% block js %}
	{{ block.super }}
	{% javascript "campaign" %}
	{% endblock %}

	{% block attribution %}
  {% include '_attribution_newsmedia.html' %}
	{% endblock attribution %}
</div>
