{% extends "layout.html" %}
{% load strip_qs pipeline staticfiles %}

{% block title %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_persnop.name }} in Parliament.{% endblock %}
{% block og_title %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_person.name }} in Parliament.{% endblock %}
{% block tweet %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_person.name }} in Parliament{% endblock %}
{# whatsapp_msg must be urlencoded #}
{% block whatsapp_msg %}I,%20{{ email.from_name|urlencode }},%20sent%20a%20message%20to%20{{ email.to_person.name|urlencode }}%20MP!%20Will%20you?%20{{ BASE_URL }}{{ request.path }}wa/{% endblock %}

{% block content %}

<div id="sent-page">
	<header>
		<section class="hero" style="background-image: url('{% static 'images/building-new-sm.jpg' %}')">
			<h1>I've made my voice heard. Have you?</h1>
			<h2>{{ SITE_NAME }}</h2>
		</section>
	</header>

        <div class="maillist-signup">
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
	    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
            <form action="//code4sa.us8.list-manage.com/subscribe/post?u=11977a67604b965526b63ee6e&amp;id=cc80ab7d12" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
	        <h2>Would you like to get updates in future about tools such as this?</h2>
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group input-group">
                  <strong>Do you think your email will make a difference? </strong>
                  <ul><li><input type="radio" value="Yes" name="MAKEDIFF" id="mce-MAKEDIFF-0"><label for="mce-MAKEDIFF-0">Yes</label></li>
                    <li><input type="radio" value="No" name="MAKEDIFF" id="mce-MAKEDIFF-1"><label for="mce-MAKEDIFF-1">No</label></li>
                  </ul>
                </div>
                <div class="mc-field-group">
	          <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                  </label>
	          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div class="mc-field-group">
	          <label for="mce-NAME">Name </label>
	          <input type="text" value="" name="NAME" class="" id="mce-NAME">
                </div>
	        <div id="mce-responses" class="clear">
		  <div class="response" id="mce-error-response" style="display:none"></div>
		  <div class="response" id="mce-success-response" style="display:none"></div>
	        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_11977a67604b965526b63ee6e_cc80ab7d12" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[2]='MAKEDIFF';ftypes[2]='radio';fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='NAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!--End mc_embed_signup-->
        </div>

	<div class="sent-email">
		<div class="email-details">
			<h3>I, {{ email.from_name }}, sent a message to {{ email.to_person.name }} MP</h3>

			<div>From: <b>{{ email.from_name }} &lt;{{ email.from_email }}&gt;</b></div>
			<div>To: <b>{{ email.to_person.name }}</b></div>
			<div>Subject: <b>{{ email.subject }}</b></div>
		</div>

		<div class="email-body">
			{{ email.body_html|safe }}
		</div>
	</div>

	<div class="text-center">
		<a class="btn btn-contact" href="/campaign/{{ campaign }}/"><i class="fa fa-university" aria-hidden="true"></i> Contact your MP</a>
	</div>

	<br>
	{% endblock content %}

	{% block js %}
	{{ block.super }}
	{% javascript "campaign" %}
	{% endblock %}

	{% block attribution %}
  {% include '_attribution_newsmedia.html' %}
	{% endblock attribution %}
</div>
