{% extends "layout.html" %}
{% load strip_qs pipeline %}

{% block title %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_persnop.name }} in Parliament.{% endblock %}
{% block og_title %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_entity.name }} in Parliament.{% endblock %}
{% block tweet %}{{ email.from_name }} sent a message to Hon. Member {{ email.to_entity.name }} in Parliament{% endblock %}
{# whatsapp_msg must be urlencoded #}
{% block whatsapp_msg %}I,%20{{ email.from_name|urlencode }},%20sent%20a%20message%20to%20{{ email.to_entity.name|urlencode }}%20MP!%20Will%20you?%20{{ BASE_URL }}{{ request.path }}wa/{% endblock %}

{% block head-css %}
  {{ block.super }}
  {% stylesheet "css-psam" %}
{% endblock head-css %}

{% block content %}

<div id="sent-page">
  <div class="sent-email">
    <img class="img-responsive" src="/static/images/pw-logo.png">
    <div class="heard">
      <h1>I've made my voice heard, have you?</h1>
      <div class="social-sharing">
	{% if is_mobile %}
	<!-- CAN'T APPEAR MORE THAN ONCE, DON'T KNOW HOW TO FIX
   <a href="whatsapp://send?text={% block whatsapp_msgREMOVE %}{{ SITE_NAME|urlencode }}%20{{ BASE_URL|urlencode }}{{ request.path|urlencode }}wa/{% endblock whatsapp_msgREMOVE %}" data-action="share/whatsapp/share"><img src="/static/images/whatsapp-logo.png" alt="WhatsApp" height="32"></a> -->
   {% endif %}

   <a class="btn btn-fb fb-share" href="#" data-url="{{ BASE_URL }}{{ request.path }}"><i class="fa fa-facebook"></i> Share</a>

   <a class="btn btn-twitter twitter-share" href="#" data-url="{{ BASE_URL }}{{ request.path }}" href="#"><i class="fa fa-twitter"></i> Tweet</a>
      </div>
    </div>
  </div>


  <div class="email-details">
    <h2>I, {{ email.from_name }}, sent a message to {{ email.to_entity.name }} MP</h2>
    <div>From: <b>{{ email.from_name }}</b></div>
    <div>To: <b>{{ email.to_entity.name }}</b></div>
    <div>Subject: <b>{{ email.subject }}</b></div>
  </div>

  <div class="email-body">
    {{ email.body_html|safe }}
  </div>

  <div class="restart text-center">
    <a class="btn btn-contact" href="/campaign/{{ campaign.slug }}/"><i class="fa fa-university" aria-hidden="true"></i> Contact your MP</a>
  </div>

  {% endblock content %}

  {% block js %}
  {{ block.super }}
  {% javascript "js-psam" %}
  {% endblock %}

  {% block attribution %}
  {% include '_attribution_psam.html' %}
  {% endblock attribution %}
</div>
