{% extends "layout.html" %}
{% load strip_qs pipeline staticfiles %}

{% block title %}{{ email.from_name }} wrote an open letter to Hon. Member {{ email.to_person.name }} in Parliament{% endblock %}
{% block og_title %}{{ email.from_name }} wrote an open letter to Hon. Member {{ email.to_person.name }} in Parliament{% endblock %}
{% block tweet %}{{ email.from_name }} wrote an open letter to Hon. Member {{ email.to_person.name }} in Parliament{% endblock %}

{% block head-css %}
  {{ block.super }}
  {% stylesheet "css-natrepresentation" %}
{% endblock head-css %}

{% block content %}

<div id="sent-page">
  <div class="gray-box">
    <table class="sender-info">
      <tr>
        <td class="left">To</td>
        <td>{{ email.to_person.name }}</td>
      </tr>
      <tr>
        <td class="left">From</td>
        <td>{{ email.from_name }}</td>
      </tr>
      <tr>
        <td class="left">Subject</td>
        <td>{{ email.subject }}</td>
      </tr>
    </table>
    <div>{{ email.body_html|safe }}</div>
  </div>

  <div class="link-article-wrap">
    <a class="link-article" href="http://www.news24.com/SouthAfrica/Politics/how-do-you-make-your-voice-heard-in-parliament-write-an-open-letter-to-an-mp-20170804">Write your own open letter</a>
  </div>
  {% endblock content %}

  {% block social_sharing %}
  <div class="social-sharing">
    <a class="btn-share fb-share" href="#" data-url="{{ BASE_URL }}{{ request.path }}"><i class="fa fa-facebook"></i> Share</a>

    <a class="btn-share twitter-share" href="#" data-url="{{ BASE_URL }}{{ request.path }}" data-hashtag="{{ SITE_HASHTAG }}"><i class="fa fa-twitter"></i> Tweet</a>

    {% if is_mobile %}
    <a href="whatsapp://send?text={% block whatsapp_msg %}{{ SITE_DESCRIPTION|urlencode }}%20{{ BASE_URL|urlencode }}{{ request.path|urlencode }}wa/{% endblock whatsapp_msg %}" data-action="share/whatsapp/share"><img src="{% static 'images/whatsapp-logo.png' %}" alt="WhatsApp" height="32"></a>
    {% endif %}
  </div>
  {% endblock social_sharing %}

  {% block js %}
  {{ block.super }}
  {% javascript "js-natrepresentation" %}
  {% endblock %}

  {% block attribution_heading %}{% endblock %}
  {% block attribution %}
  {% include '_attribution_natrepresentation.html' %}
  {% endblock attribution %}
</div>
