{% extends "layout.html" %}
{% load pipeline %}

{% block title %}Embed MP Contact form{% endblock %}
{% block content %}
<div class="container">
  <div class="embed-text row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>Would you like to embed this on your site?</h1>

      <p>This is a responsive site. If you embed it using the code below, it should resize to fit nicely in the horizontal space you have available for it, and stretch out as long as it needs to be.</p>

      <p>To embed this on your site, copy this code and inset as HTML:</p>
      <code>
        &lt;script type="text/javascript" src="{{ BASE_URL }}/static/javascript/embed.js" &gt;&lt;/script&gt;
      </code>
    </div>
  </div>

  <div class="embed-wrap row">
    <div class="col-xs-8 col-xs-offset-2">
      {% if campaign == 'newsmedia' %}
      <script type="text/javascript" src="/static/javascript/embed.js"></script>
      {% elif campaign == 'psam' %}
      <script type="text/javascript" src="/static/javascript/embed-psam.js"></script>
      {% else %}
      No campaign
      {% endif %}
    </div>
  </div>
</div>
{% endblock content%}

{% block social_sharing %}{% endblock social_sharing %}
{% block attribution_heading %}{% endblock attribution_heading %}
{% block attribution %}{% endblock attribution %}
