{% extends "layout.html" %}

{% block js %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
  function onSubmit(token) {
    document.getElementById("email-form").submit();
  }
</script>
{% endblock %}

{% block title %}Send a message to an MP!{% endblock %}
{% block content %}

<h1>Send a message to an MP!</h1>

<form id="email-form" action="email/" method="post">
  {% csrf_token %}

  <div>
    {% for person in persons %}
    <div><input type="radio" name="person" value="{{ person.id }}" {% if forloop.first %}checked="checked"{% endif %}>{{ person.name }}</div>
    {% endfor %}
  </div>
  <div>Subject: <input type="text" name="subject" value="Message to you rudy"></div>
  <div>
    <textarea name="body" rows="4" cols="50">I feel very strongly.</textarea>
  </div>

  <div>Your name: <input type="text" name="from_name"></div>
  <div>Your email address: <input type="text" name="from_email"></div>
  <div>
    <button
      class="g-recaptcha"
      data-sitekey="{{ recaptcha_key }}"
      data-callback="onSubmit">
      Submit
    </button>
  </div>
</form>

{% endblock %}
