{% extends 'base.html' %}
{% load pipeline %}
{% load strip_qs %}

{% block head-css %}
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"> 
  {% stylesheet "css" %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    {% block content %}{% endblock content %}

    {% block social_sharing %}
      <div class="social-sharing">
        {% if is_mobile %}
        <a href="whatsapp://send?text={% block whatsapp_msg %}{{ SITE_NAME|urlencode }}%20{{ BASE_URL|urlencode }}{{ request.path|urlencode }}wa/{% endblock whatsapp_msg %}" data-action="share/whatsapp/share"><img src="/static/images/whatsapp-logo.png" alt="WhatsApp" height="32"></a>
        {% endif %}

        <a class="btn btn-fb fb-share" href="#" data-url="{{ BASE_URL }}{{ request.path }}"><i class="fa fa-facebook"></i> Share</a>

        <a class="btn btn-twitter twitter-share" href="#" data-url="{{ BASE_URL }}{{ request.path }}" data-hashtag="{{ SITE_HASHTAG }}"><i class="fa fa-twitter"></i> Tweet</a>

		    <div class="center-block embed-a"><a href="/embed.html"><i class="fa fa-code" aria-hidden="true"></i> Embed this on your site</a></div>
      </div>
    {% endblock social_sharing %}

    <footer>
      <div class="footer-content">
        {% block attribution_heading %}
        <h2>Attribution</h2>
        {% endblock attribution_heading %}
        {% block attribution %}{% endblock attribution %}
      </div>
    </footer>
  </div>
</div>
{% endblock %}
